*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
$color-white : white;

body{
    width: 100%;
    min-height: 100px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
.container{
    width: 100%;
    min-height: 100px;

    header{
        width: 100%;
        height: 70px;
        background-color: rgb(21, 124, 90);
        display: flex;
        justify-content: center;
        align-items: center;
        navbar{
            width: 98%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
              
                img{
                    height: 75px;
                    width: 110px;
                    padding:8px 0px 0px 4px;
                }
            
           
            button{
                width: 70px;
                height: 40px;
                cursor: pointer;
                border-radius: 10px;
                border: 2px solid rgb(110, 115, 123);
                transition: all 0.5s;
            }
            button:hover{
                background-color: rgb(113, 144, 236);
                color: white;
                border: 2px solid rgb(238, 241, 245);
            }
        }
    }
    main{
        width: 100%;
        min-height: 100vh;
        display: flex;
        //background-color: red;
        .sidebar{
            width: 250px;
            min-height: 100%;
            background-color: rgb(122, 36, 99);
            display: flex;
            flex-direction: column;
            //border-radius: 5px;
           // justify-content: center;
            align-items: center;
            .sidebar-main{
                margin: 10px;
                width: 192px;
                min-height: 400px;
                display: flex;
                gap:10px;
                flex-direction: column;
                //justify-content: center;
                align-items: center;
                background-color: rgb(8, 110, 169);
                border-radius: 10px;
                .sidebar-wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 190px;
                    height: 97%;

                    
                   
                    .list{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        a{
                            text-decoration: none;
                            display: flex;
                            justify-content:start;
                            align-items: center;
                            gap:15px;
                            width: 90%;
                            height: 35px;
                            background-color: rgb(25, 78, 78);
                            border-radius: 5px;
                            padding-left: 20px;
                            transition: background-color 0.5s;
                            transition: border 0.5s;
                            svg{
                                fill:white;
                                width: 15px;
                               
                            }
                            span{
                                font-size: 1.2em;
                                color:white;
                            }
                        }
                        a:hover{
                            background-color: rgb(84, 160, 12);
                            border: 1px solid white;
                        }
                        a:focus{
                            background-color: rgb(84, 160, 12);
                            border: 1px solid white;
                        }
                    }
                }
                .sidebar-wrapper:first-child{
                    margin-top: 10px;
                }
                .sidebar-wrapper:last-child{
                    margin-bottom: 10px;
                }
            }
            hr{
                width: 90%;
                margin: 5px 0px 5px 0px;
            }
            
        }
        section{
            width: 100%;
            min-height: 100%;
            background-color: rgb(135, 127, 115);
            display: flex;
            justify-content: center;
            align-items: center;
                           
            .main-container{
                width: 98%;
                min-height: 97%;
                background-color: rgb(86, 111, 12);
                border-radius: 8px;
                display: flex;
                justify-content:space-around;
                flex-wrap: wrap;
                gap:10px 0px;
                .snd-main{
                    width: 97.5%;
                    min-height: 80px;
                    margin: 10px 0px 0px 0px;
                    //background-color: rgb(72, 5, 74);
                    border-radius: 8px;
                    display: flex;
                    flex-wrap: wrap;
                    gap:10px 2px;
                    justify-content:space-between;
                    align-items: center;
                   
                        .menuCateContain{
                            width: 30%;
                            height: 100px;
                            display: flex;
                            background-color: rgb(59, 11, 87);
                            align-items: center;
                            justify-content:center;
                            border-radius: 5px;
                            transition: background-color 0.5s;
                           // border-right: 1px solid white;
                           box-shadow: 1px 1px 2px 1px rgb(141, 137, 144);
          
                            h3{
                                color:white;
                                font-size: inherit;
                                transition: font-size 0.5s;
                                text-align: center;
                                font-size: 2em;
                            }
                            h3:hover{
                                cursor: pointer;
                                
                                color:rgb(39, 194, 5);
                                font-size: 1.2em;
                                // background-color: red;
                            }
                            h3:focus{
                                color:rgb(229, 133, 8);
                                font-size: 1.2em;
                               
                            }
                        }
                  
                   
                    .menuCateContain:hover{
                        background-color: rgb(6, 232, 14);
                        cursor: pointer;
                        h3{
                            color:rgb(160, 12, 101);
                            font-size: 2.6em;
                            font-weight: bolder;
                        }
                    }
                    
                }
                .displayMenu{
                    width: 98%;
                    min-height: 50px;
                    background-color: rgb(9, 49, 65);
                    border-radius: 8px;
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    margin: 10px 0px 10px 0px;
                    gap: 10px 0px;
                        .menu-card{
                            width: 30%;
                            height: 300px;
                            //background-color: blue;
                            display: flex;
                            align-items: end;
                             .forDescription{
                                width:100%;
                                min-height: 220px;
                                background-color: rgb(61, 71, 61);
                                position: relative;
                               border-radius: 10px;
                               display: flex;
                               flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 7px;
                                box-shadow: 1px 1px 2px 2px rgb(129, 127, 127);
                          
                                figure{
                                    width: 100%;
                                    height: 65px;
                                   // background-color: #fff;
                                    display: flex;
                                    justify-content: center;
                                    align-items: end;
                                    img{
                                        width:130px;
                                        height: 130px;
                                        border-radius: 50%;
                                     
                                        top:-70px;
                                        left: 50px;
                                    }
                                }
                               
                                .description{
                                    width: 90%;
                                    height:150px;
                                  //  background-color: red;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    gap:10px 0px;
                                   .descrip-header{
                                        width: 100%;
                                        min-height:25px ;
                                     //   background-color: aliceblue;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        h3{
                                            font-size: 1.5em;
                                            color: $color-white;
                                        }
                                   }
                                   .descrip-para{
                                    width: 100%;
                                    min-height:40px ;
                                   // background-color: rgb(109, 162, 208);
                                    display: flex;
                                    justify-content: center;
                                   // align-items: center;
                                    p{
                                        text-align: center;
                                        font-size: 1.2em;
                                        color: $color-white;
                                    }
                                   }
                                   .price{
                                    width: 100%;
                                    min-height:30px ;
                                   // background-color: rgb(206, 220, 234);
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 1.2em;
                                    align-items: center;
                                    color: $color-white;
                                    button{
                                        padding:5px;
                                        cursor: pointer;
                                        border-radius: 5px;
                                        border: 1px solid rgb(9, 217, 144);
                                    }
                                    button:hover{
                                        background-color: rgb(19, 67, 107);
                                        color: $color-white;
                                    }
                                   }
                                }
                            }
                        }
                }
                
            }
        }
    }
}


@media screen and (max-width: 968px){
    body{
      //  background-color: red;
        .container{
            width: 100%;
            min-height: 100vh; 
            header{
                width: 100%;
                height: 70px;
                background-color: rgb(21, 124, 90);
                display: flex;
                justify-content: center;
                align-items: center;
                navbar{
                    width: 98%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                      
                    
                   
                    button{
                        width: 70px;
                        height: 40px;
                        cursor: pointer;
                        border-radius: 10px;
                        border: 2px solid rgb(110, 115, 123);
                        transition: all 0.5s;
                    }
                    button:hover{
                        background-color: rgb(113, 144, 236);
                        color: white;
                        border: 2px solid rgb(238, 241, 245);
                    }
                }
            }
            main{
                width: 100%;
                min-height: 100vh;
                display: flex;
                //background-color: red;
               
                section{
                   
                    .main-container{
                       
                        .displayMenu{
                            gap: 0px 5px;
                                .menu-card{
                                   width: 40%;
                                  
                                    .forDescription{
                                      
                                        figure{
                                            width: 100%;
                                            height: 50px;
                                           // background-color: #fff;
                                            display: flex;
                                            justify-content: center;
                                            align-items: end;
                                            img{
                                                width: 110px;
                                                height: 110px;
                                                border-radius: 50%;
                                            }
                                        }
                                       
                                        .description{
                                            width: 90%;
                                            height:150px;
                                          //  background-color: red;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            justify-content: center;
                                            gap:10px 0px;
                                           .descrip-header{
                                                width: 100%;
                                                min-height:25px ;
                                             //   background-color: aliceblue;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                h3{
                                                    font-size: 1.5em;
                                                    color: $color-white;
                                                }
                                           }
                                           .descrip-para{
                                            width: 100%;
                                            min-height:40px ;
                                           // background-color: rgb(109, 162, 208);
                                            display: flex;
                                            justify-content: center;
                                           // align-items: center;
                                            p{
                                                text-align: center;
                                                font-size: 1.2em;
                                                color: $color-white;
                                            }
                                           }
                                           .price{
                                            width: 100%;
                                            min-height:30px ;
                                           // background-color: rgb(206, 220, 234);
                                            display: flex;
                                            justify-content: space-between;
                                            font-size: 1.2em;
                                            align-items: center;
                                            color: $color-white;
                                            button{
                                                padding:5px;
                                                cursor: pointer;
                                                border-radius: 5px;
                                                border: 1px solid rgb(9, 217, 144);
                                            }
                                            button:hover{
                                                background-color: rgb(19, 67, 107);
                                                color: $color-white;
                                            }
                                           }
                                        }
                                    }
                                }
                        }
                        
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 768px){
    body{
      //  background-color: red;
        .container{
            width: 100%;
           // min-height: 100vh; background-color: red;
            header{
                width: 100%;
                height: 70px;
                background-color: rgb(21, 124, 90);
                display: flex;
                justify-content: center;
                align-items: center;
                navbar{
                    width: 98%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                      
                    
                   
                    button{
                        width: 70px;
                        height: 40px;
                        cursor: pointer;
                        border-radius: 10px;
                        border: 2px solid rgb(110, 115, 123);
                        transition: all 0.5s;
                    }
                    button:hover{
                        background-color: rgb(113, 144, 236);
                        color: white;
                        border: 2px solid rgb(238, 241, 245);
                    }
                }
            }
            main{
                width: 100%;
                min-height: 100vh;
                display: flex;
                //background-color: red;
               
                section{
                   
                    .main-container{
                       
                        .displayMenu{
                            gap: 0px 5px;
                                .menu-card{
                                   width: 70%;
                                  
                                    .forDescription{
                                       
                                        figure{
                                            width: 100%;
                                            height: 50px;
                                           // background-color: #fff;
                                            display: flex;
                                            justify-content: center;
                                            align-items: end;
                                            img{
                                                width:120px;
                                                height: 120px;
                                                border-radius: 50%;
                                            }
                                        }
                                       
                                        .description{
                                            width: 90%;
                                            height:150px;
                                          //  background-color: red;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            justify-content: center;
                                            gap:10px 0px;
                                           .descrip-header{
                                                width: 100%;
                                                min-height:25px ;
                                             //   background-color: aliceblue;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                h3{
                                                    font-size: 1.5em;
                                                    color: $color-white;
                                                }
                                           }
                                           .descrip-para{
                                            width: 100%;
                                            min-height:40px ;
                                           // background-color: rgb(109, 162, 208);
                                            display: flex;
                                            justify-content: center;
                                           // align-items: center;
                                            p{
                                                text-align: center;
                                                font-size: 1.2em;
                                                color: $color-white;
                                            }
                                           }
                                           .price{
                                            width: 100%;
                                            min-height:30px ;
                                           // background-color: rgb(206, 220, 234);
                                            display: flex;
                                            justify-content: space-between;
                                            font-size: 1.2em;
                                            align-items: center;
                                            color: $color-white;
                                            button{
                                                padding:5px;
                                                cursor: pointer;
                                                border-radius: 5px;
                                                border: 1px solid rgb(9, 217, 144);
                                            }
                                            button:hover{
                                                background-color: rgb(19, 67, 107);
                                                color: $color-white;
                                            }
                                           }
                                        }
                                    }
                                }
                        }
                        
                    }
                }
            }
        }
    }
    
}